<div class="container card white-bg">
  <h2 class="text-grey padding-16">
    <i class="fa fa-certificate fa-fw margin-right xxlarge text-choco"></i>Education
  </h2>
  <div class="container">
    <h5 class="opacity">
      <b
        >CAS Certificate of Advanced Studies Frontend Engineering HSR University of Applied Sciences
        Rapperswil SG</b
      >
    </h5>
    <h6 class="text-choco">
      <i class="fa fa-calendar fa-fw margin-right"></i>May 2019 - Jul 2019,
      <small>...to be continued by the end of April 2020</small>
    </h6>
    <hr />
  </div>
  <div class="container">
    <h5 class="opacity">
      <b>Web Engineering, Postgraduate Studies Höhere Fachschule Uster (Higher Technical School)</b>
    </h5>
    <h6 class="text-choco"><i class="fa fa-calendar fa-fw margin-right"></i>Jan 2013 - Apr 2015</h6>
    <hr />
  </div>
  <div class="container">
    <h5 class="opacity">
      <b>Web Technology, Design & Communication OnlineLabor Zürich Altstetten</b>
    </h5>
    <h6 class="text-choco"><i class="fa fa-calendar fa-fw margin-right"></i>2013</h6>
    <hr />
  </div>
  <div class="container">
    <h5 class="opacity"><b>Exam preparation for the „Goethe-Zertifikat C1“ HBS Rapperswil</b></h5>
    <h6 class="text-choco"><i class="fa fa-calendar fa-fw margin-right"></i>2011</h6>
    <hr />
  </div>
  <div class="container">
    <h5 class="opacity"><b>CCNA CISCO Certified / Hochschule für Technik Rapperswil-SG</b></h5>
    <h6 class="text-choco"><i class="fa fa-calendar fa-fw margin-right"></i>July 2007</h6>
    <hr />
  </div>
  <div class="container">
    <h5 class="opacity">
      <b
        >Diploma in Computer Science, Addis Abeba University Recognized as a Diploma of a Higher
        Technical School HF (Informatics) in Switzerland</b
      >
    </h5>
    <h6 class="text-choco"><i class="fa fa-calendar fa-fw margin-right"></i>1992 - 1996</h6>
    <hr />
    <br />
  </div>
</div>
