<div class="container card white-bg margin-bottom">
    <h2 class="text-grey padding-16"><i
            class="fa fa-suitcase fa-fw margin-right xxlarge text-choco"></i>Work Experience
    </h2>
    <div class="container">
        <h5 class="opacity" id="test"><b>Family project and short Web development assignments</b></h5>
        <h6 class="text-choco"><i class="fa fa-calendar fa-fw margin-right"></i>Sep 2016 - <span
                class="tag choco round">Current</span></h6>

        <hr>
    </div>
    <div class="container">
        <h5 class="opacity"><b>Frontend developer / FLX Labs, Wiedikon</b></h5>
        <h6 class="text-choco"><i class="fa fa-calendar fa-fw margin-right"></i>Aug 2015 - Aug 2016</h6>
        <p>
            <ul>
                <li>Develop web pages: design, programing, from the first idea to the finished
                    product for use. Using HTML, CSS, Javascript</li>
                <li>Silverstripe und Wordpress Open Sources CMS</li>
                <li>Advising and assisting customers in the development of their website</li>
            </ul>
        </p>
        <hr>
    </div>
    <div class="container">
        <h5 class="opacity"><b>Web Editing / AO Foundation, Davos & Dübendorf, Project Work</b></h5>
        <h6 class="text-choco"><i class="fa fa-calendar fa-fw margin-right"></i>July 2014 - Sep 2014
        </h6>
        <p>
            <ul>
                <li>Upload and extract data from the AO Surgery Reference Content Management
                    System</li>
            </ul>
        </p>
        <hr>
    </div>
    <div class="container">
        <h5 class="opacity"><b>Family work and postgraduate studies in Web Engineering</b></h5>
        <h6 class="text-choco"><i class="fa fa-calendar fa-fw margin-right"></i>Apr 2013 - Jul 2015
        </h6>
        <hr>
    </div>
    <div class="container">
        <h5 class="opacity"><b>Data processing / Ferag AG, Hinwil Zürich</b></h5>
        <h6 class="text-choco"><i class="fa fa-calendar fa-fw margin-right"></i>Nov 2007 - Mar 2013
        </h6>
        <p>
            <ul>
                <li>Create print templates with IGP & Prescribe printer programming
                    languages and Crystal Reports</li>
                <li>Data processing - create, test and analyze Ferag production data</li>
                <li>Telephone supports</li>
            </ul>
        </p>
        <hr>
    </div>
    <div class="container">
        <h5 class="opacity"><b>Maternity and help my Ex-husband in own dental practice</b></h5>
        <h6 class="text-choco"><i class="fa fa-calendar fa-fw margin-right"></i>Aug 2004 - Oct 2007
        </h6>

        <hr>
    </div>
    <div class="container">
        <h5 class="opacity"><b>Internet Designer / Stiftung Öko-JOB Foundation, Gelterkinden BL</b></h5>
        <h6 class="text-choco"><i class="fa fa-calendar fa-fw margin-right"></i>Jan 2004 - Jul 2004
        </h6>
        <p>
            <ul>
                <li>HTML programming of the website for the ÖKO-JOB Foundation</li>
                <li>Preparation of a draft for the Internet presence of the project „Industrial
                    Path Pratteln“</li>
                <li>Image editing in Adobe Photoshop</li>
            </ul>
        </p>
        <hr>
    </div>
    <div class="container">
        <h5 class="opacity"><b>Internet Designer / Systor AG, Basel</b></h5>
        <h6 class="text-choco"><i class="fa fa-calendar fa-fw margin-right"></i>Jun 1999 - Mar 2003
        </h6>
        <p>
            <ul>
                <li>Portal for Corporate Design Guidelines of a major Swiss bank</li>
                <li>Publishing the web content, processing web-friendly image materias</li>
                <li>Support for Visual Communication Designers</li>
            </ul>
        </p>
        <hr>
    </div>
    <div class="container">
        <h5 class="opacity"><b>PC-Supporter / „PC-House„ Addis Ababa</b></h5>
        <h6 class="text-choco"><i class="fa fa-calendar fa-fw margin-right"></i>Apr 1998 - Aug 1998
        </h6>
        <hr>
    </div>
    <div class="container">
        <h5 class="opacity"><b>Computer assistent / University of medicine faculty, Addis Ababa </b>
        </h5>
        <h6 class="text-choco"><i class="fa fa-calendar fa-fw margin-right"></i>Aug 1996 - Apr 1998
        </h6>
        <hr>
    </div>
    <div class="container">
        <h5 class="opacity"><b>Data Processing / Central Statistical Agency Of Ethiopia, Addis Ababa</b>
        </h5>
        <h6 class="text-choco"><i class="fa fa-calendar fa-fw margin-right"></i>Jan 1995 - Jul 1996
        </h6>
        <hr>
    </div>
</div>