<!DOCTYPE html>
<html>
  <title><%= siteName %> | <%= cv.welcome %></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../css/fonts.css" />
  <!-- <link rel="stylesheet" href="../css/all.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="../css/main.css" />  
  <link rel="stylesheet" href="../css/accordion.css" />   
 <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link rel="icon" href="favicon.png" type="image/png" sizes="32x32" />

  <body class="light-choco" id="body" onload="myFunction()">
    <div class="content margin-top row-padding" style="max-width: 1400px;">
      <div class="row-padding">
        <ul class="language links">
          <li><a href="/english"  id="english" class="text-grey-nav link active">EN</a></li>
          <li><a href="/deutsch" id="deutsch" class="text-grey-nav link">DE</a></li>
        </ul>

        <%- include(`../pages/${template}`) %>
      </div>
    </div>
    <footer class="container choco center margin-top">
      <p id="ignorePDF">Made with Node JS and EJS templating engine <i class="fa fa-heart"></i></p>
    </footer>
  </body>
    <script src="js/script.js"></script>
   
    
  </body>
</html>
